/* Felles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
/* 
a:hover{
    cursor: pointer;
} */

button:hover {
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

figcaption {
    padding: 10px 0px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    height: 50px;
    /* width: 100%; */
    background-color: #077BC2;
    font-family: Arial, Helvetica, sans-serif;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex: 1 1 0px; */
    margin: 3px 0px 5px 0px;
}

.searchbar input {
    width: 100%;
    min-width: 100px;
    height: 25px;
    outline: none;
    /* margin: 0px 0px 0px 0px; */
}

.searchbar button {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 10px 10px;
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul li {
    margin: 0 0px;
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
}



body {
    margin: 0px;
    /* background-color: rgba(04, 28, 44, 1); */
    /* background-image: linear-gradient(to bottom, rgba(04,28,44,0.7), 
     rgba(04,28,44,1)); */
     background: rgb(4,28,44);
     background: linear-gradient(143deg,
     rgba(4,28,44,1) 0%,
     rgba(21,44,59,1) 51%,
     rgba(87,103,114,1) 100%);
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     background-repeat: no-repeat;
}


.logo img {
    display: inline-block;
    width: 75px;
    margin: 8px 0px 8px 50px;
}

.myaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 35px;
}

.myaccount img {
    width: 25px;
    margin: 0px 0 5px 0;
} 

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(7,123,194,0.6);
    height: 40px;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}

footer > p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 0 30px 0 0;
}

/* Forside */

.mainpage {
    background: rgb(4,28,44);
    background: linear-gradient(360deg,
     rgba(4,28,44,1) 0%,
     rgba(21,44,59,1) 51%,
     rgba(111,132,146,1) 100%);
}

.mainlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.mainlogo img {
    display: inline-block;
    width: 200px;
}

.films {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 25px 50px 25px;
}

/* .popular-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 25px 50px 25px;
} */


figure {
    margin: 0px;
    text-align: center;
    /* justify-content: center; */
    color: white;
    font-size: 16px;
}

figure img {
    /* display: flex;
    justify-content: center; */
    width: 275px;
    margin: 0px;
}

h2 {
    margin: 0px 0px 10px 50px;
    /* color: white; */
}

/* .films-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 25px 75px 25px;
    grid-template-columns: auto auto auto auto;
} */

#new {
    margin-top: 40px;
}


/* Filmpage */

header {grid-area: header;}
aside {grid-area: poster;}
main {grid-area: desc;}
.video-container {grid-area: film;}
footer {grid-area: footer;}
.buttons {grid-area: buttons;}

.gridcontainer-filmpage {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'poster poster desc   desc   film   film'
    'poster poster desc   desc   film   film'
    'poster poster desc   desc   buttons buttons'
    'footer footer footer footer footer footer';
}

/* aside {
    width: 100%;
    height: auto;
    margin: 0 50px 0 0;
} */

aside img {
    width: 275px;
    height: auto;
    margin: 50px 50px 50px 50px;
}


.film-desc {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0px 50px;
    width: 100%;
    padding-right: 25px;
}

.film-desc > h2 {
    margin: 0px;
    font-size: 18px;
}

.film-desc > h1 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}

.film-desc > p {
    margin: 12px 0 0 0;
}

.content {
    width: 500px;
    margin: 50px 45px 0px 50px;
}

aside img {
    width: 90%;
}
.content img {
    width: 100%;
    height: auto;
}

/* iframe {
    width: 100%;
    height: 100%;
} */


.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0px 120px 0px;
}

.buttons > button {
    width: 200px;
    padding: 10px;
    border: white solid 1px;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.buttons button:hover {
    background-color: grey;
    border: transparent 1px solid;
}

.buttons a{
    width: 200px;
}

.hamburger {
    display: none;
}

/* Search Result */

.body-search { 
    background: rgb(4,28,44);
    background: radial-gradient(circle, rgba(4,28,44,1) 0%, rgba(26,51,68,1) 37%, rgba(28,66,92,1) 51%, rgba(114,131,143,1) 100%); 
    background-repeat: no-repeat;
}

.searchbar-small {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto 20px auto; */
    background-color: #077bc2;
    max-width: 350px;
}

.searchbar-small input {
    width: 350px;
    height: 40px;
    outline: none;
    font-size: 15px;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    
}

.searchbar-small button {
    display: flex;
    height: 40px;
    width: 50px;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: white;
    font-size: 15px;
    border-left: none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #077BC2;
    max-width: 350px;
    margin: 0px auto 50px auto;
    height: auto;
}

.search-result ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;
    width: 350px;
}

.search-result ul li {
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 18px;
}

.search-result ul li:first-child {
    border-top: 1px solid black;

}

.search-result ul li p {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
}

.search-result ul li img {
    vertical-align: middle;
    float: right;
    max-width: 100px;
    padding-right: 10px;
}


/* Sign in / Create Account */

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #077BC2;
    max-width: 350px;
    margin: 100px auto 0px auto;
    height: auto;
}

.sign-in div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: inherit;
    /* padding: 20px 0px; */
    width: 350px;
}

.sign-in div p {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 20px 10px;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #077bc2;
    max-width: 350px;
    height: auto;
    padding: 40px 0 0px 0;
    margin: 0px auto 150px auto;
}

.textbox input {
    width: 300px;
    height: 30px;
    outline: none;
    font-size: 15px;
    margin: 10px;
    
}

.textbox button {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 20px;
    background-color: #2D9DA2;
    color: white;
    margin-top: 40px;
}

.textbox a {
    width: 100%;
}

#create-account {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    width: 175px;
}

#sign-in {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    width: 175px;
}

.sign-in a{
    width: 100%;
}

.dob {
    display: flex;
    max-width: 350px;
}

#date {
    width: 55px;
}

#month {
    width: 150px;
}

#year {
    width: 55px;
}

/* Account  */

.account {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px auto 100px auto;
} 

.edit-account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    /* margin: 0 auto 100px auto; */
    background-color: #077BC2;
    width: 300px;
}

.edit-account form {
    margin-top: 20px;
}

.edit-account form input {
    width: 250px;
    height: 25px;
    margin-bottom: 20px;
}

.edit-account button{
    float: right;
    width: 50%;
    border: none;
    height: 40px;
    font-size: 20px;
    background-color: #2D9DA2;
    color: white;
    margin-bottom: 20px;
}

.card {
    display: flex;
    justify-content: flex-start;
}

.details {
    display: flex;
    justify-content: flex-start;
}

#cancel {
    width: 120px;
    /* margin-right: 10px; */
    background-color: #a22d32;
}

#submit {
    width: 120px;
    margin-right: 10px;
}

#update {
    width: 100%;
    margin-top: 15px;
}

.edit h2 {
    margin: 20px auto 10px;
}

.card h2 {
    margin: 20px auto 10px auto;
}

.details h2 {
    margin: 20px auto 10px auto;
}

.details h3 {
    margin-top: 40px;
}

.details div {
    display: flex;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 25px;
    color: black;
    margin: 10px auto;
}

.details p {
    margin-left: 5px;
}

.details img {
    width: 200px;
    border-radius: 20px;
    margin: 15px auto 10px auto;
}

/* Watch now */

.watchnow {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    /* margin: 100px auto; */
}

.watchnow iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Media querys */


@media (max-width: 1120px){
    .navbar {
        display: none;
    }
    .hamburger {
        display: flex;
        font-size: 20px;
        color: black;
        justify-content: center;
        align-items: center;
    }
    .myaccount {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 0px 0px 22px;
    }

    .logo {
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 75px;
        margin: 8px 30px 8px 10px;
    }
    .searchbar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        /* flex: 1 1 0px; */
        margin: 3px 0px 5px 0px;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        /* height: 50px;
        width: 100%;
        background-color: #077BC2;
        font-family: Arial, Helvetica, sans-serif; */
    }

    h2 {
        margin-left: 80px;
    }

    .gridcontainer-filmpage {
        display: grid;
        grid-template-areas: 
        'header header   header'
        'desc   desc     desc'
        'film   film     film'
        'buttons buttons buttons'
        'footer footer   footer';
    }
    
    .film-desc {
        width: 80%;
        margin: 60px 0px 50px 50px;
    }

    aside {
        display: none;
    }

    .content {
        width: 650px;
    }


    .buttons button {
        margin: 20px;
        background-color: grey;
    }

    /* .films figure:nth-child(4) {
        display: none;
    } */

    .search-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #077BC2;
        max-width: 350px;
        margin: 100px auto 300px auto;
        height: auto;
    }

    .sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #077BC2;
        max-width: 350px;
        margin: 200px auto 0px auto;
        height: auto;
    }

    .textbox {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: #077bc2;
        max-width: 350px;
        height: auto;
        padding: 40px 0 0px 0;
        margin: 0px auto 310px auto;
    }

    .account {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    } 

    .edit-account {
        margin: 20px auto;        
    }

    .watchnow {
        margin: 100px auto 420px auto;
    }
    
}

@media (max-width: 400px){

    /* .gridcontainer-filmpage {
        display: grid;
        grid-template-areas: 
        'header'
        'desc'
        'film'
        'buttons'
        'footer';
    } */


    .content {
        width: 300px;
        height: 150px;
        margin: 0 0 20px 40px;
    }
  
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons button {
        margin: 10px;
        background-color: grey;
    }

    h2 {
        margin-left: 60px;
    }

    .films figure:nth-child(4) {
        display: none;
    }

    .search-result {
        margin: 10px auto 150px auto;     
    }

    .edit-account {
        margin: 20px auto;
    }
}




@media (min-width: 1400px){

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .navbar ul li {
        margin: 0 150px;
    }
   
    figure {
        margin: 0px;
        text-align: center;
        /* justify-content: center; */
        color: white;
        font-size: 16px;
    }
    
    figure img {
        /* display: flex;
        justify-content: center; */
        width: 375px;
        margin: 0px;
    }

    .logo {
        margin-left: 44px
    }

    .myaccount{
        margin-left: 20px;
    }

    h2 {
        margin: 0 0 10px 95px;
    }




    .gridcontainer-filmpage {
        display: grid;
        grid-template-areas: 
        'header header header header '
        'poster poster desc   desc   '
        'poster poster film   film   '
        'poster poster film   film   '
        'poster poster buttons buttons'
        'footer footer footer footer ';
    }
    .film-desc {
        width: 800px;
        margin: 50px 0 0 195px;

    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 1000px;
        margin: 50px 0 0 195px;
    }

    aside img {
        width: 85%;
        margin-left: 95px;
    }
    
    /* iframe {
        width: 100%;
        height: 100%;
    } */

    .search-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #077BC2;
        max-width: 350px;
        margin: 50px auto 300px auto;
        height: auto;
    }
   
    .buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 0 50px 0;
    }

    .sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #077BC2;
        max-width: 350px;
        margin: 300px auto 0px auto;
        height: auto;
    }
    .textbox {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: #077bc2;
        max-width: 350px;
        height: auto;
        padding: 40px 0 0px 0;
        margin: 0px auto 300px auto;
    }

    .account {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 50px auto 250px auto;
    } 
}